{% extends "base.html" %}

{% block body %}

<form action="{{url_for('auth.verify2fa', fiscal_code=fiscal_code, remember=remember)}}" method="post">
    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <label for="inputPassword6" class="col-form-label">OTP</label>
      </div>
      <div class="col-auto">
        <input name="otp" type="text" id="inputPassword6" class="form-control">
      </div>
      <div class="col-auto">
        <span id="passwordHelpInline" class="form-text">
          Must be 6 characters long.
        </span>
      </div>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Confirm OTP</button>
    </div>
</form>

{% endblock %}